/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php

.idea/*

vendor/*
!vendor/crestapps/laravel-code-generator/src/HtmlGenerators/HtmlGeneratorBase.php
!vendor/crestapps/laravel-code-generator/src/HtmlGenerators/StandardHtml.php
!vendor/crestapps/laravel-code-generator/src/Support/FieldOptimizer.php
!vendor/crestapps/laravel-code-generator/src/Commands/CreateControllerCommand.php
!vendor/crestapps/laravel-code-generator/src/Traits/CommonCommand.php
!vendor/crestapps/laravel-code-generator/src/DatabaseParsers/ParserBase.php
!vendor/crestapps/laravel-code-generator/src/Commands/CreateModelCommand.php
!vendor/crestapps/laravel-code-generator/src/Models/Field.php
!vendor/crestapps/laravel-code-generator/src/Commands/Bases/ControllerCommandBase.php

!vendor/unisharp/laravel-filemanager/src/Controllers/ItemsController.php
!vendor/unisharp/laravel-filemanager/src/Traits/LfmHelpers.php
!vendor/unisharp/laravel-filemanager/src/lang/en/lfm.php
